<html ng-app>
<head>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
</head>
<body>
<h2>Select Your Favourite Color</h2>
<label for="red">Red</label><input type="radio" name="color" value="Red" ng-click="myStyle={background:'red'}" />
<label for="blue">Blue</label><input type="radio" name="color" value="Blue" ng-click="myStyle={background:'blue'}"/>
<label for="lime">Lime</label><input type="radio" name="color" value="Lime" ng-click="myStyle={background:'lime'}"/>
<label for="pink">Pink</label><input type="radio" name="color" value="Pink" ng-click="myStyle={background:'pink'}"/>
<div ng-style="myStyle">
</BR></BR></BR></BR>
    
<center>
<h1>BACKGROUND CHANGING USING ANGULAR JS</h1>
</BR></BR></BR></BR>
</BR></BR></BR></BR>
</BR></BR></BR></BR>
</BR></BR></BR></BR>
</BR></BR></BR></BR>
</BR></BR></BR></BR>
</BR></BR></BR></BR>

</center>
</div>
</body>
</html>